{
  "extends": ["xo", "xo-react", "plugin:tailwindcss/recommended", "next/core-web-vitals", "prettier"],
  "rules": {
    "react/jsx-curly-brace-presence": "off",
    "react/jsx-no-useless-fragment": "off",
    "new-cap": "off",
    "camelcase": "off",
    "no-warning-comments": "off",
    "capitalized-comments": "off",
    "spaced-comment": "off",
    "no-unused-vars": "off"
  }
}
